body {
	background: #EEE;
}

.box {
	width: 100px;
	height: 200px;
	background: #000;
	position: absolute;
	animation: new 1s linear infinite;
}

.box:hover {
	background: limegreen;
}

@keyframes new {
	0% {
		left: 10%;
	}
	50% {
		left: 50%;
	}
	75% {
		left: 100%;
	}
	100% {
		left: 0%;
	}
}

.formContato {
	border: 1px solid #666;
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	padding: 16px;
	width: 300px;
}